<div class="sendMail">
  <img src="/sendingMail.png" alt="" />
</div>
<div class="headings">
  <h2>SendGrid API</h2>
  <h3>A Node.js CRUD App</h3>
  <a href="/getmail" class="btn">
    <% if (user) { %> View Mails

    <a href="/sendmail" class="sendmail btn">Send Mails</a>

    <% } else { %> Send Mails <% } %>
  </a>
</div>
