<%- include('partials/header'); -%>

<header>
  <div class="sendMail">
    <img src="/sendingMail.png" alt="" />
  </div>
  <div class="headings">
    <h2>SendGrid API</h2>
    <h3>A Node.js CRUD App</h3>

    
    <h1 style="color: #d61c4e">Mails Downloaded</h1>
    <p>Check the directory of the application</p>
  </div>
</header>

<%- include('partials/footer'); -%>
