<%- include('partials/header'); -%>

<header>
  <div class="sendMail">
    <img src="/sendingMail.png" alt="" />
  </div>
  <div class="headings">
    <h2>SendGrid API</h2>
    <h3>A Node.js CRUD App</h3>

    <h1 style="color: #d61c4e">Mail Sent!</h1>
    <a href="/getmail" class="sendmail btn">View Mails</a>
    <a href="/sendmail" class="sendmail btn">Send Mails</a>

  </div>
</header>

<%- include('partials/footer'); -%>
