<%- include('partials/header'); -%>

<header>
  <div class="sendMail">
    <img src="/sendingMail.png" alt="" />
  </div>

  <!-- <form action="/sendmail" method="POST">
    <h2>Send New Mail</h2>
    <label for="to">To:</label>
    <input type="text" name="to" id="to" required />
    <label for="name">Your Name:</label>
    <input type="text" name="name" id="name" required />

    <label for="from">From:</label>
    <input type="text" name="from" id="from" required />

    <label for="subject">Subject:</label>
    <input type="text" name="subject" id="subject" required />
    <label for="message">Message:</label>
    <textarea name="message" id="message" required></textarea>
    <button type="submit">Send</button>
  </form> -->



  <div class="headings">
    <h2>SendGrid API</h2>
    <h3>A Node.js CRUD App</h3>

    <h1 style="color: #d61c4e">Use PostMan to send Mail</h1>
    <p>POST - localhost:3000/sendmail</p> 
<!-- 
    <h2 class="heading">Send a new mail</h2>

    <div class="">
      <form action="/sendmail" method="POST">
        <label for="title">Blog Title: </label>
        <input type="text" id="title" name="title" required />
        <label for="snippet">Blog Snippet: </label>
        <input type="text" id="snippet" name="snippet" required />
        <label for="body">Blog Body: </label>
        <textarea id="body" name="body" required></textarea>
        <button>Submit</button>
      </form>
    </div> -->

  </div>
</header>

<%- include('partials/footer'); -%>
